<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container p-0">
        <div class="main-navigation-container">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <span class="drop-down-menu" fxlayout="row" fxlayoutalign="center center"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                <div class="wrap change" fxlayout="column" fxlayoutalign="space-between"
                    style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch;">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </span>

            <a class="navbar-brand logo" href="#">
                <img src="assets/img/logo.svg">
            </a>

            <form class="search-container" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="search-wrapper">
                    <input class="desktop-only" type="search" placeholder="Search for wines" aria-label="Search">
                    <a class="icon-block" href="#" type="submit">
                        <img alt="search" src="assets/img/search.svg">
                    </a>
                </div>
            </form>
            <div class="drop-down-city-wrapper">
                <div class="drop-down-city ng-star-inserted">
                    <div class="info" style=" display: flex; align-items:center;">
                        <img src="assets/img/ZA.svg">
                        <span><a>South Africa</a>,
                            <strong>R ZAR</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="cart">
                <div class="wrapper">
                    <div class="cart-container">
                        <div class="cart-icon"><img alt="cart" src="assets/img/cart.svg"></div>
                        <div class="cart-circle-icon"><img alt="circle" src="/assets/img/circle_un_auth.svg">
                            <div class="count-items"> 0 </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary">Checkout</button>
                </div>
            </div>
            <div class="auth-wrapper desktop-only"><span>Sign in</span>
                <div class="icon-block"><i class="arrow-icon"><img alt="arrow" src="assets/img/down-chevron.svg"></i>
                </div>
            </div>
        </div>
    </div>
</nav>