<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner-text-container">
                <h1>The Island of Vilafonté</h1>
                <p>Edward Pietersen has been the winegrower at Vilafonté for the past 14 years, with 13 vintages under
                    his belt.</p>
                <p class="author">By Daléne Fourie</p>
                <button type="button" class="btn btn-outline-primary">Read &amp; Shop Now</button>
            </div>
            <img class="carousel-img-desktop" src="assets/img/banner_01.JPG">
            <img class="carousel-img-mobile" src="assets/img/banner_mobile_01.jpg">
        </div>
        <div class="carousel-item">
            <div class="banner-text-container">
                <h1>The Helderberger</h1>
                <p>“I feel like I was born to crush grapes.” - Wade Metzer.<br/>
                    Did you know that Somerset-West is a skateboarder’s haven? I didn’t.</p>
                <p class="author">By Daléne Fourie</p>
                <button type="button" class="btn btn-outline-primary">Read &amp; Shop Now</button>
            </div>
            <img class="carousel-img-desktop" src="assets/img/banner_02.jpg">
            <img class="carousel-img-mobile" src="assets/img/banner_mobile_02.jpg">
        </div>
        <div class="carousel-item">
            <div class="banner-text-container">
                <h1>Did you know?</h1>
                <p>Seeing the Helderberg covered in a tiny sprinkling of snow this past weekend, while the
                    surrounding mountains were absolutely coated.</p>
                <p class="author">By Daléne Fourie</p>
                <button type="button" class="btn btn-outline-primary">Read &amp; Shop Now</button>
            </div>
            <img class="carousel-img-desktop" src="assets/img/banner_03.jpg">
            <img class="carousel-img-mobile" src="assets/img/banner_mobile_03.jpg">
        </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>