<div class="featured-wines-container">
    <div class="container p-0">
        <h2 class="text-left">Featured wines of the week</h2>
        <div class="row">
            <a class="wine-details-wrapper col" href="#">
                <div class="product-details-container">
                    <span class="disclaimer">Sold only in multiples of <br /><strong>6 bottles</strong></span>
                    <a href="">View Full Details</a>
                    <div class="cart-cta">
                        <div class="cart-amount">
                            <span>6</span>
                            <div class="icon-block"><i class="arrow-icon"><img alt="arrow"
                                        src="assets/img/down-chevron-dark.svg"></i>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
                <div class="content-wrapper">
                    <span class="label"></span>
                    <div class="img-wrapper">
                        <img src="assets/img/featured_wine.JPG">
                    </div>
                    <div class="text-center description">
                        <div class="year item dark2-color font-weight-medium"> 2018 </div>
                        <h3 class="title item gray-dark-alt-color"> Shiraz </h3>
                        <h3 class="brand item dark2-color good-medium-font"> Metzer </h3>
                        <div class="country item gray-dark-alt-color"> South Africa </div>
                        <div class="cost-wrapper brown-color">
                            <div class="cost item"><strong> R270 </strong></div>
                        </div>
                        <div class="category-container">
                            <span>Robert Parker</span>
                            <span>89</span>
                        </div>
                        <div class="stock-container">35 in stock</div>
                    </div>
                </div>
            </a>
            <a class="wine-details-wrapper col" href="#">
                <div class="product-details-container">
                    <span class="disclaimer">Sold only in multiples of <br /><strong>6 bottles</strong></span>
                    <a href="">View Full Details</a>
                    <div class="cart-cta">
                        <div class="cart-amount">
                            <span>6</span>
                            <div class="icon-block"><i class="arrow-icon"><img alt="arrow"
                                        src="assets/img/down-chevron-dark.svg"></i>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
                <div class="content-wrapper">
                    <span class="label"></span>
                    <div class="img-wrapper">
                        <img src="assets/img/featured_wine.JPG">
                    </div>
                    <div class="text-center description">
                        <div class="year item dark2-color font-weight-medium"> 2018 </div>
                        <h3 class="title item gray-dark-alt-color"> Shiraz </h3>
                        <h3 class="brand item dark2-color good-medium-font"> Metzer </h3>
                        <div class="country item gray-dark-alt-color"> South Africa </div>
                        <div class="cost-wrapper brown-color">
                            <div class="cost item"><strong> R270 </strong></div>
                        </div>
                        <div class="category-container">
                            <span>Robert Parker</span>
                            <span>89</span>
                        </div>
                        <div class="stock-container">35 in stock</div>
                    </div>
                </div>
            </a>
            <a class="wine-details-wrapper col" href="#">
                <div class="product-details-container">
                    <span class="disclaimer">Sold only in multiples of <br /><strong>6 bottles</strong></span>
                    <a href="">View Full Details</a>
                    <div class="cart-cta">
                        <div class="cart-amount">
                            <span>6</span>
                            <div class="icon-block"><i class="arrow-icon"><img alt="arrow"
                                        src="assets/img/down-chevron-dark.svg"></i>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
                <div class="content-wrapper">
                    <span class="label"></span>
                    <div class="img-wrapper">
                        <img src="assets/img/featured_wine.JPG">
                    </div>
                    <div class="text-center description">
                        <div class="year item dark2-color font-weight-medium"> 2018 </div>
                        <h3 class="title item gray-dark-alt-color"> Shiraz </h3>
                        <h3 class="brand item dark2-color good-medium-font"> Metzer </h3>
                        <div class="country item gray-dark-alt-color"> South Africa </div>
                        <div class="cost-wrapper brown-color">
                            <div class="cost item"><strong> R270 </strong></div>
                        </div>
                        <div class="category-container">
                            <span>Robert Parker</span>
                            <span>89</span>
                        </div>
                        <div class="stock-container">35 in stock</div>
                    </div>
                </div>
            </a>
            <a class="wine-details-wrapper col" href="#">
                <div class="product-details-container">
                    <span class="disclaimer">Sold only in multiples of <br /><strong>6 bottles</strong></span>
                    <a href="">View Full Details</a>
                    <div class="cart-cta">
                        <div class="cart-amount">
                            <span>6</span>
                            <div class="icon-block"><i class="arrow-icon"><img alt="arrow"
                                        src="assets/img/down-chevron-dark.svg"></i>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
                <div class="content-wrapper">
                    <span class="label"></span>
                    <div class="img-wrapper">
                        <img src="assets/img/featured_wine.JPG">
                    </div>
                    <div class="text-center description">
                        <div class="year item dark2-color font-weight-medium"> 2018 </div>
                        <h3 class="title item gray-dark-alt-color"> Shiraz </h3>
                        <h3 class="brand item dark2-color good-medium-font"> Metzer </h3>
                        <div class="country item gray-dark-alt-color"> South Africa </div>
                        <div class="cost-wrapper brown-color">
                            <div class="cost item"><strong> R270 </strong></div>
                        </div>
                        <div class="category-container">
                            <span>Robert Parker</span>
                            <span>89</span>
                        </div>
                        <div class="stock-container">35 in stock</div>
                    </div>
                </div>
            </a>
            <a class="wine-details-wrapper col" href="#">
                <div class="product-details-container">
                    <span class="disclaimer">Sold only in multiples of <br /><strong>6 bottles</strong></span>
                    <a href="">View Full Details</a>
                    <div class="cart-cta">
                        <div class="cart-amount">
                            <span>6</span>
                            <div class="icon-block"><i class="arrow-icon"><img alt="arrow"
                                        src="assets/img/down-chevron-dark.svg"></i>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
                <div class="content-wrapper">
                    <span class="label"></span>
                    <div class="img-wrapper">
                        <img src="assets/img/featured_wine.JPG">
                    </div>
                    <div class="text-center description">
                        <div class="year item dark2-color font-weight-medium"> 2018 </div>
                        <h3 class="title item gray-dark-alt-color"> Shiraz </h3>
                        <h3 class="brand item dark2-color good-medium-font"> Metzer </h3>
                        <div class="country item gray-dark-alt-color"> South Africa </div>
                        <div class="cost-wrapper brown-color">
                            <div class="cost item"><strong> R270 </strong></div>
                        </div>
                        <div class="category-container">
                            <span>Robert Parker</span>
                            <span>89</span>
                        </div>
                        <div class="stock-container">35 in stock</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>