<div class="ad-block-container">    
    <div class="container">
        <div class="row">
            <div class="ad-block-col col-lg col-sm-12 pl-0 p-md-0">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="assets/img/ad_block_01.JPG" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Re(Stock) Your Cellar</h4>
                            <p class="card-text"><a href="#">Shop online. Stay home.</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-block-col col-lg col-sm-12 px-0 p-md-0">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="assets/img/ad_block_02.JPG" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Top Rated Wines</h4>
                            <p class="card-text"><a href="#">Shop now</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-block-col col-lg col-sm-12 pr-0 p-md-0">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="assets/img/ad_block_03.JPG" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Recently Released Wines</h4>
                            <p class="card-text"><a href="#">Shop now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>